

<!DOCTYPE html> 
<html> 
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Login</title>
</head>
        
  
<body> 
  
    <nav class=" navbar">
        <div class="nav navbar-left">
            <img class="d-inline-block" src="{{url_for('static',filename='tts.png')}}">
            <h3>AudiBee</h3>
        </div>
        <div class="justify-content-center">
            <h2><i>Login Form</i></h2> 
        </div>
        <div class="justify-content-end">
        <ul class="nav navbar-right">
            <a href="/Home/home.html"><li>Home</li></a>&nbsp;&nbsp;&nbsp;
            <a href="/About/about.html"><li>About</li></a>&nbsp;&nbsp;&nbsp;
            <a href="/Contact/contact.html"><li>Contact</li></a>&nbsp;&nbsp;&nbsp;
            <a href="/Signup/signup.htm"><li>Sign Up</li></a>
        </ul>
        </div>
    </nav>
    <form>  
  
        <div class="container"> 
            <label><b>E-mail</b></label><br>
            <input type="email" placeholder="Enter Email Id" name="email" required> 
            <br><br><br>
            <label><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" name="psw" required> 
            <br>
            <button type="submit" class="btn btn-success">Login</button> 
            <!--<input type="checkbox" checked="checked"> Remember me--> 
        </div> 
  
    </form> 
    <div class="rem">
        <a href="#">Forgot Password</a>
    </div>
  
</body> 
  
</html> 