{% extends "layout.html" %}
{% block body %}



<title>Contact</title>

</head>


<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <!-- for image and title -->
        <a class="navbar-brand" href="/">
            <img src="{{url_for('static',filename='img/tts.png')}}" width="30" height="30"
                class="d-inline-block align-top" alt="">
            Audi Bee !!
        </a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- justify-content-end for sending navbar items to right -->

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

            <ul class="nav navbar-nav navbar-right">

                <!-- p + text-success is for colour on text -->

                <li class="nav-item active">
                    <p><a class="nav-link " href="/login">Login<span class="sr-only">(current) </span>
                        </a>
                    </p>
                </li>

                <li class="nav-item active">
                    <p><a class="nav-link " href="/signup">Signup<span class="sr-only">(current)
                            </span>
                        </a>
                    </p>
                </li>

                <li class="nav-item active">
                    <p><a class="nav-link " href="#">About<span class="sr-only">(current) </span>
                        </a></p>
                </li>

                <li class="nav-item active">
                    <p><a class="nav-link " href="#">Contact Us<span class="sr-only">(current)
                            </span>
                        </a></p>
                </li>

            </ul>

        </div>
    </nav>

    <section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us
            directly. Our team will come back to you within
            a matter of hours to help you.</p>

        <div class="row">

            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0 ml-5">
                                <input type="text" id="name" name="name" class="form-control">
                                <label for="name" class="">Your name</label>
                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0 ml-5">
                                <input type="text" id="email" name="email" class="form-control">
                                <label for="email" class="">Your email</label>
                            </div>
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0 ml-5">
                                <input type="text" id="subject" name="subject" class="form-control">
                                <label for="subject" class="">Subject</label>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="md-form ml-5">
                                <textarea type="text" id="message" name="message" rows="2"
                                    class="form-control md-textarea"></textarea>
                                <label for="message">Your message</label>
                            </div>

                        </div>
                    </div>
                    <!--Grid row-->

                </form>

                <div class="text-center text-md-left">
                    <a class="btn btn-primary ml-5" onclick="document.getElementById('contact-form').submit();">Send</a>
                </div>
                <div class="status"></div>
            </div>

        </div>

    </section>

    <!-- Footer -->
    <footer class="page-footer bg-dark">
        <div class="bg-success">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">
                    <div class="col-md-10 text-center">
                        <a href="#"><i class="fab fa-facebook-f text-white mr-4"> </i></a>
                        <a href="#"><i class="fab fa-twitter text-white mr-4"> </i></a>
                        <a href="#"><i class="fab fa-google-plus-g text-white mr-4"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in text-white mr-4"></i></a>
                        <a href="#"><i class="fab fa-instagram text-white "></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->


    {% endblock %}