{% extends "layout.html" %}
{% block body %}


<title>AudiBee</title>

</head>


<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <!-- for image and title -->
        <a class="navbar-brand" href="#">
            <img src="{{url_for('static',filename='img/tts.png')}}" width="30" height="30"
                class="d-inline-block align-top" alt="">
            Audi Bee !!
        </a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- justify-content-end for sending navbar items to right -->

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

            <ul class="nav navbar-nav navbar-right">

                <!-- p + text-success is for colour on text -->

                <li class="nav-item active">
                    <p><a class="nav-link " href="/login">Login<span class="sr-only">(current) </span>
                        </a>
                    </p>
                </li>

                <li class="nav-item active">
                    <p><a class="nav-link " href="/signup">Signup<span class="sr-only">(current)
                            </span>
                        </a>
                    </p>
                </li>

                <li class="nav-item active">
                    <p><a class="nav-link " href="#">About<span class="sr-only">(current) </span>
                        </a></p>
                </li>

                <li class="nav-item active">
                    <p><a class="nav-link " href="/contact">Contact Us<span class="sr-only">(current)
                            </span>
                        </a></p>
                </li>

            </ul>

        </div>
    </nav>

    <!-- created a form with row and col so input box take half size -->
    <!-- set ml-4 and mr-4 and my -6 it will set margind in row and columns -->
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group purple-border ml-5 mt-3 mb-4">
                    <label for="exampleFormControlTextarea4">Write text below to convert to speech</label>
                    <textarea class="form-control " id="exampleFormControlTextarea4" rows="7" placeholder=" Only first 25 letters are free 
                        To convert more words please Signup"></textarea>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-lg-10">
            <!-- <h3 class="one">Text</h3> -->
            <a href="#" button class="btn btn-dark float-right ">Listen Now!!!
                </button>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10">
            <a href="#" button class="btn btn-dark float-right">Download MP3
                </button>
            </a>
        </div>
    </div>

    <a button type="button" class="btn btn-dark btn-lg mb-5 ml-4" href=" #" role="button">Upload File</button></a>


    <!-- Footer -->
    <footer class="page-footer bg-dark">
        <div class="bg-success">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">
                    <div class="col-md-10 text-center">
                        <a href="#"><i class="fab fa-facebook-f text-white mr-4"> </i></a>
                        <a href="#"><i class="fab fa-twitter text-white mr-4"> </i></a>
                        <a href="#"><i class="fab fa-google-plus-g text-white mr-4"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in text-white mr-4"></i></a>
                        <a href="#"><i class="fab fa-instagram text-white "></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->


    {% endblock %}