{% extends "layout.html" %}
{% block body %}

<title>Sign Up</title>

</head>


<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light ">
		<!-- for image and title -->
		<a class="navbar-brand" href="/">
			<img src="{{url_for('static',filename='img/tts.png')}}" width="30" height="30"
				class="d-inline-block align-top" alt="">
			Audi Bee !!
		</a>


		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- justify-content-end for sending navbar items to right -->

		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">

			<ul class="nav navbar-nav navbar-right">

				<!-- p + text-success is for colour on text -->

				<li class="nav-item active">
					<p><a class="nav-link " href="/login">Login<span class="sr-only">(current) </span>
						</a>
					</p>
				</li>

				<li class="nav-item active">
					<p><a class="nav-link " href="#">Signup<span class="sr-only">(current)
							</span>
						</a>
					</p>
				</li>

				<li class="nav-item active">
					<p><a class="nav-link " href="#">About<span class="sr-only">(current) </span>
						</a></p>
				</li>

				<li class="nav-item active">
					<p><a class="nav-link " href="/contact">Contact Us<span class="sr-only">(current)
							</span>
						</a></p>
				</li>

			</ul>

		</div>
	</nav>

	<br>

	<form action="">
		<div class='form-row'>
			<div class="col ml-3 ">
				<label for="exampleFirstName">First Name</label>
				<input type="textarea" class="form-control" size="13" id="exampleFirstName" aria-label: 'Large'
					aria-describedby="fnameHelp" placeholder="First Name" required>
			</div>

			<br>

			<div class="col ml-2 mr-2">
				<label for="exampleLastName">Last Name</label>
				<input type="textarea" class="form-control" size="13" id="exampleLastName" aria-label: 'Large'
					aria-describedby="lnameHelp" placeholder="Last Name" required>
			</div>
		</div>


		<br>


		<div class="col">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-label: 'Large'
				aria-describedby="emailHelp" placeholder="Enter email" required>
		</div>

		<br>

		<div class="col">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" aria-label: 'Default' minlength="8" id="exampleInputPassword1"
				placeholder="Password: minimum 8 characters" required>
		</div>

		<br>

		<div class="col mb-2">
			<label for="examplePhoneNumber">Phone Number</label>
			<input type="textarea" class="form-control" aria-label: 'Default' size="10" id="examplePhoneNumber"
				placeholder="Enter Phone number" required>
		</div>

		<br>

		<button type="submit" class="btn btn-primary ml-3 mb-5">Sign Up!</button>
	</form>


	<!-- Footer -->
	<footer class="page-footer bg-dark">
		<div class="bg-success">
			<div class="container">
				<div class="row py-4 d-flex align-items-center">
					<div class="col-md-10 text-center">
						<a href="#"><i class="fab fa-facebook-f text-white mr-4"> </i></a>
						<a href="#"><i class="fab fa-twitter text-white mr-4"> </i></a>
						<a href="#"><i class="fab fa-google-plus-g text-white mr-4"></i></a>
						<a href="#"><i class="fab fa-linkedin-in text-white mr-4"></i></a>
						<a href="#"><i class="fab fa-instagram text-white "></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->


	{% endblock %}