form { 
    border: 3px solid #f1f1f1;
    text-align: center; 
    padding: 25px 0 25px 0;
    margin: 20px 25% 0 20%;
    border-radius: 2rem;
} 
h2{
    text-align: center;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
nav{
    padding-bottom: 15px;
    background-color: black;
}
nav h2{
    color: white;
}
nav img{
    width: 30px;
    height: 30px;
}
nav h3{
    padding-top: 7px;
    margin-left: 5px;
    color: white
}
nav a{
    color: white;
}

nav a :hover{
    color: white;
    text-decoration: none;
}
input[type=email], 
input[type=password] { 
    width: 50%; 
    margin-bottom: 20px;
    padding: 14px 20px;
    border: 1px solid #ccc; 
    box-sizing: border-box; 
} 

  
button { 
    background-color: #4CAF50; 
    color: white; 
    padding: 7px 7px; 
    margin-top: 10px; 
    border: none; 
    cursor: pointer; 
    width: 20%; 
    border-radius: 1rem;
} 

  
button:hover { 
    opacity: 0.8; 
} 
  
  



  
@media screen and (max-width: 300px) { 
    span.psw { 
        display: block; 
        float: none; 
    } 
} 